@import url('https://fonts.cdnfonts.com/css/tt-firs-neue-trl');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .heading{
    @apply lg:text-[80px] lg:leading-[96px] sm:text-[40px] sm:leading-[48px] text-[28px] leading-8 font-medium font-neus
  }
  .paragraph{
    @apply sm:text-xl text-sm font-normal font-neus
  }
  .main-button {
    @apply common-button gradient transition-all duration-100 h-10 flex items-center justify-center font-bold italic text-white lg:text-base text-sm leading-[100%] capitalize w-full px-4;
  }
}



   .our-services-card {
  position: relative;
}
.our-services-card::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 30px;
  overflow: hidden;
  padding: 1px;
  background: linear-gradient(97.93deg, #3441CE -2.83%, #CF1AAF 99.13%);
  -webkit-mask: linear-gradient(97.93deg, #fff -2.83%, #fff 99.13%) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}
.common-button > span {
  display: inline-block;
  transform: skew(40deg);
}
.common-button {
  transform: skew(-40deg);
  border-radius: 3px 10px 3px 10px;
}
.gradient{
  background: linear-gradient(98deg, #3441CE -2.83%, #CF1AAF 99.13%);
}
.footer-input > input {
  transform: skew(40deg);
}
.footer-input {
  transform: skew(-40deg);
  background: white;
  border-radius: 3px 10px 3px 10px;
}
body{
  font-family:"TT Firs Neue Trl", "sans-serif";
}